# Node build artifacts
node_modules
npm-debug.log

#Sonar
.scannerwork

# Local development
*.env
*.dev
.DS_Store

# phpStorm
.idea

#vsCode
.vscode

#source Access database
app/server/db/elg_database.accdb
app/server/db/elg_database.laccdb

# frontend build files
app/server/public
