# Node build artifacts
node_modules
npm-debug.log

#Sonar
.scannerwork

# Local development
*.env
*.dev
.DS_Store

# phpStorm
.idea

#vsCode
.vscode

#source Access database
/server/db/elg_database.accdb
/server/db/elg_database.laccdb
