// set default colors and variables
$blue: #0071bc;
$darkBlue: #182e51;
$lightBlue: #28a0ef;
$green: #3aa02b;
$gray: #e6e6e6;

$primary: $lightBlue;
$success: $green;
$info: $blue;
$dark: $darkBlue;
$danger: #ff3860;
