// override bulma colors and variables
$blue: #1650AC;
$darkBlue: #182E51;
$lightBlue: #28A0EF;
$green: #3AA02B;
$gray: #E6E6E6;

$primary: $lightBlue;
$success: $green;
$info: $blue;
$dark: $darkBlue;
$danger: #ff3860;
