@import 'variables';

// set app content to take up full page height
html,
body {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

// style overrides
html {
  overflow-y: auto !important;
}

#main-content {
  max-width: 100%;
}

section.main-content {
  padding: 0;
}

.table td,
.table th {
  vertical-align: middle !important;
}

.table td {
  text-align: center !important;
}

.section {
  padding: 2rem 0 2rem 0 !important;
}

.main-section {
  position: relative;
  .title,
  .subtitle,
  .label {
    color: black;
  }
  .label {
    font-weight: normal;
  }
}

.fa {
  margin-right: 0.2em;
}

.button.is-text {
  text-decoration: none !important;
}

.button.is-hyperlink {
  background: none;
  padding: 0;
  margin: 0;
  color: $blue;
  text-decoration: underline;
  height: inherit;

  &:hover {
    color: darken($blue, 10);
  }
}

.menu.column {
  padding-left: 1px !important;
}

// h1.title {
//   font-size: 28px !important;
// }

.is-link {
  text-decoration: underline;
}

.tab-content {
  margin-top: 10px !important;
}

// form style overrides
.select {
  width: 100%;

  select:invalid {
    color: hsla(0, 0%, 48%, 0.7);
  }

  select option {
    color: #363636;
  }
}

// Import bulma and plugins
@import '../../node_modules/bulma/bulma';
@import '../../node_modules/bulma-checkradio/dist/css/bulma-checkradio.min.css';

// Override bulma checkradio plugin styles
.is-checkradio[type='radio'].is-info:checked + label::after {
  border-color: $lightBlue !important;
  background-color: $lightBlue !important;
}

.is-checkradio[type='checkbox'].is-info.has-background-color + label::before,
.is-checkradio[type='checkbox'].is-info.has-background-color + label:before {
  background-color: white !important;
  border: solid 1px black !important;
}

.is-checkradio[type='checkbox'].is-info:hover:not([disabled]) + label::before,
.is-checkradio[type='checkbox'].is-info:hover:not([disabled]) + label:before {
  border-color: black !important;
}

.is-checkradio[type='checkbox'].is-info:checked + label::after {
  border-width: 3px;
}

// Makes sure that when checkboxes are in overflowed divs, whitespace won't appear at bottom of page
.is-checkradio[type='checkbox'],
.is-checkradio[type='radio'] {
  opacity: 0;
  width: 0;
  position: fixed;
}

.is-checkradio[type='checkbox'].is-block,
.is-checkradio[type='radio'].is-block {
  display: block !important;
}

button,
a,
input,
.switch .checkbox {
  &:focus,
  &:focus + .slider,
  &:focus + label {
    box-shadow: none !important;
    outline: 2px dotted #aeb0b5 !important;
  }
}

.elg-bullet-list {
  list-style: disc;
  padding-bottom: 0.5rem;
}

.columns.elg-breadcrumbs-container,
.columns.elg-header-container {
  margin-bottom: 0;

  .button {
    margin-bottom: 0;
  }
}

.info-box-container {
  display: inline-block;
  margin-bottom: 1.5rem;

  .message-body {
    color: inherit;
    height: 100%;
  }

  p {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.container {
  max-width: 68em;
}

.help-icon {
  font-size: 20px;
  margin-right: 5px;
}

.help-icons {
  display: flex;
  justify-content: flex-end;
  margin: auto;
}

.help-container {
  margin-left: 20px;
}

// Custom tab styles
.tabs {
  li button {
    background-color: $gray;
    color: #212121;
    justify-content: center;
    margin-right: 0.2rem;
    margin-bottom: 0;
    padding: 0.6rem 1.5rem;
    width: 100%;
    border-radius: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    white-space: inherit;
    line-height: inherit;

    &:hover {
      background-color: darken($gray, 10);
    }
  }
}

.cfr-link {
  margin: auto;
  font-weight: bold;
  font-size: 1.05rem;

  &:hover {
    text-decoration: underline;
  }

  .fa {
    margin-left: 0.2rem;
  }
}

.multiselect__option {
  white-space: normal;
}

.multiselect--active {
  .multiselect__tags {
    padding: 0;
  }

  .multiselect__input {
    min-height: 32px;
    line-height: 32px;
    margin-bottom: 0;
    padding: 5px 10px;
  }
}

.b-table {
  .icon-btn {
    display: inline-block;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    height: inherit;
    width: inherit;

    .fa-info-circle {
      color: $blue;
    }
  }
}

// Import font-awesome
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
// Import vue-multiselect
@import '../../node_modules/vue-multiselect/dist/vue-multiselect.min.css';
